<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">
	<resultMap type="Account" id="accountResultSet">
		<id property="accountId" column="ACCOUNT_ID"/>
		<result property="accountStart" column="ACCOUNT_START"/>
		<result property="accountEnd" column="ACCOUNT_END"/>
		<result property="accountTotal" column="ACCOUNT_TOTAL"/>
		<result property="accountFee" column="ACCOUNT_FEE"/>
		<result property="accountPrice" column="ACCOUNT_PRICE"/>
		<result property="hoshId" column="HOSH_ID"/>
	</resultMap>
	<resultMap id="memberResultSet" type="Member">
		<id property="memberId" column="MEMBER_ID"/>
		<result property="memberPwd" column="MEMBER_PWD"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="memberPhone" column="MEMBER_PHONE"/>
		<result property="memberAgree" column="MEMBER_AGREE"/>
		<result property="memberEnroll" column="MEMBER_ENROLL"/>
		<result property="memberUpdate" column="MEMBER_UPDATE"/>
		<result property="memberSocial" column="MEMBER_SOCIAL"/>
		<result property="grade" column="GRADE"/>
		<result property="memberStatus" column="MEMBER_STATUS"/>
	</resultMap>
	<resultMap type="Host" id="hostResultSet">
		<id property="hostId" column="HOST_ID"/>
		<result property="hostPhone" column="HOST_PHONE"/>
		<result property="hostEmail" column="HOST_EMAIL"/>
		<result property="hostName" column="HOST_NAME"/>
		<result property="storeName" column="STORE_NAME"/>
		<result property="hostNo" column="HOST_NO"/>
		<result property="hostBank" column="HOST_BANK"/>
		<result property="hostAccount" column="HOST_ACCOUNT"/>
		<result property="hostBname" column="HOST_BNAME"/>
		<result property="hostEnroll" column="HOST_ENROLL"/>
		<result property="hostUpdate" column="HOST_UPDATE"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="statusId" column="STATUS_ID"/>
	</resultMap>
	<resultMap type="Board" id="boardResultSet">
		<id property="boardId" column="BOARD_ID"/>
		<result property="boardTitle" column="BOARD_TITLE"/>
		<result property="boardContent" column="BOARD_CONTENT"/>
		<result property="boardStatus" column="BOARD_STATUS"/>
		<result property="boardEnroll" column="BOARD_ENROLL"/>
		<result property="boardUpdate" column="BOARD_UPDATE"/>
	</resultMap>
	<resultMap type="Board" id="faqResultSet">
		<id property="boardId" column="FAQ_ID"/>
		<result property="boardType" column="FAQ_TYPE"/>
		<result property="boardTitle" column="FAQ_TITLE"/>
		<result property="boardContent" column="FAQ_CONTENT"/>
		<result property="boardStatus" column="FAQ_STATUS"/>
		<result property="boardEnroll" column="FAQ_ENROLL"/>
		<result property="boardUpdate" column="FAQ_UPDATE"/>
	</resultMap>
   <resultMap type="QnA" id="QnAResultSet">
      <id property="qnaId" column="QNA_ID"/>
      <result property="qContent" column="Q_CONTENT"/>
      <result property="qDate" column="Q_DATE"/>
      <result property="aContent" column="A_CONTENT"/>
      <result property="aDate" column="A_DATE"/>
      <result property="qType" column="Q_TYPE"/>
      <result property="qStatus" column="Q_STATUS"/>
      <result property="qMemberId" column="Q_MEMBER_ID"/>
      <result property="aMemberId" column="A_MEMBER_ID"/>
      <result property="spaceId" column="SPACE_ID"/>
   </resultMap>

	<!-- 1. 정산관리 -->
	<select id="selectAccountList" parameterType="_int" resultMap="accountResultSet">
		SELECT * 
		FROM ACCOUNT
		<if test="_parameter != 0">
			WHERE EXTRACT(MONTH FROM ACCOUNT_START) = #{month}
		</if>
	</select>
	
	<!-- 2. 회원관리 -->
	<select id="selectMemberList" parameterType="string" resultMap="memberResultSet">
		SELECT * FROM MEMBER
		WHERE MEMBER_STATUS = #{memberStatus}
	</select>
	
	<!-- 3. 호스트관리 -->
	<select id="selectHostList" parameterType="_int" resultMap="hostResultSet">
		SELECT * FROM HOST
		<if test="_parameter != 4">
			WHERE STATUS_ID = #{status}
		</if>
	</select>
	
	<!-- 4. faq관리 -->
	<select id="selectFaqList" resultMap="faqResultSet" parameterType="_int">
		SELECT * FROM FAQ 
		<if test="_parameter != 100">
			WHERE FAQ_TYPE = #{status}
		</if>
	</select>
	
	<!-- 5. 공지사항관리 -->
	<select id="selectNoticeList" resultMap="boardResultSet">
		SELECT * FROM BOARD
	</select>
	
	<!-- 6. 호스트문의관리 -->
	<select id="selectQlist" resultMap="QnAResultSet">
		SELECT QNA_ID, Q_CONTENT, Q_DATE, A_CONTENT, A_DATE, Q_STATUS, Q_MEMBER_ID, A_MEMBER_ID, SPACE_ID
		FROM QNA
		WHERE Q_TYPE = 0
	</select>
	
	<!-- 7. 관리자문의관리 -->
	<select id="selectQAdminlist" resultMap="QnAResultSet">
		SELECT QNA_ID, Q_CONTENT, Q_DATE, A_CONTENT, A_DATE, Q_STATUS, Q_MEMBER_ID, A_MEMBER_ID
		FROM QNA
		WHERE Q_TYPE = 1
	</select>
	
	<!-- 8. 관리자답변관리 -->
	<select id="selectAdminlist" resultMap="QnAResultSet">
		SELECT QNA_ID, Q_CONTENT, Q_DATE, A_CONTENT, A_DATE, Q_STATUS, Q_MEMBER_ID, A_MEMBER_ID
		FROM QNA
		WHERE Q_TYPE = 1 AND A_DATE IS NULL
	</select>
	
	<!-- 9. 관리자답변작성 -->
	<update id="insertAnswerAdmin" parameterType="QnA">
		UPDATE QNA SET A_CONTENT = #{aContent}, A_DATE = SYSDATE, A_MEMBER_ID = #{aMemberId} WHERE QNA_ID = #{qnaId}
	</update>
	
</mapper>
