<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">
	<resultMap type="Account" id="accountResultSet">
		<id property="accountId" column="ACCOUNT_ID"/>
		<result property="accountStart" column="ACCOUNT_START"/>
		<result property="accountEnd" column="ACCOUNT_END"/>
		<result property="accountTotal" column="ACCOUNT_TOTAL"/>
		<result property="accountFee" column="ACCOUNT_FEE"/>
		<result property="accountPrice" column="ACCOUNT_PRICE"/>
		<result property="hoshId" column="HOSH_ID"/>
	</resultMap>
	<resultMap id="memberResultSet" type="Member">
		<id property="memberId" column="MEMBER_ID"/>
		<result property="memberPwd" column="MEMBER_PWD"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="memberPhone" column="MEMBER_PHONE"/>
		<result property="memberAgree" column="MEMBER_AGREE"/>
		<result property="memberEnroll" column="MEMBER_ENROLL"/>
		<result property="memberUpdate" column="MEMBER_UPDATE"/>
		<result property="memberSocial" column="MEMBER_SOCIAL"/>
		<result property="grade" column="GRADE"/>
		<result property="memberStatus" column="MEMBER_STATUS"/>
	</resultMap>
	<resultMap type="Host" id="hostResultSet">
		<id property="hostId" column="HOST_ID"/>
		<result property="hostPhone" column="HOST_PHONE"/>
		<result property="hostEmail" column="HOST_EMAIL"/>
		<result property="hostName" column="HOST_NAME"/>
		<result property="storeName" column="STORE_NAME"/>
		<result property="hostNo" column="HOST_NO"/>
		<result property="hostBank" column="HOST_BANK"/>
		<result property="hostAccount" column="HOST_ACCOUNT"/>
		<result property="hostBname" column="HOST_BNAME"/>
		<result property="hostEnroll" column="HOST_ENROLL"/>
		<result property="hostUpdate" column="HOST_UPDATE"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="statusId" column="STATUS_ID"/>
	</resultMap>
	<resultMap type="Space" id="spaceResultSet">
		<id property="spaceId" column="SPACE_ID"/>
		<result property="spaceName" column="SPACE_NAME"/>
		<result property="spaceComment" column="SPACE_COMMENT"/>
		<result property="spaceDetail" column="SPACE_DETAIL" jdbcType="CLOB" javaType="java.lang.String"/>
		<result property="spaceTag" column="SPACE_TAG"/>
		<result property="spaceOption" column="SPACE_OPTION"/>
		<result property="spaceAddress" column="SPACE_ADDRESS"/>
		<result property="spacePhone" column="SPACE_PHONE"/>
		<result property="spaceNotice" column="SPACE_NOTICE"/>
		<result property="spaceOperStatus" column="SPACE_OPER_STATUS"/>
		<result property="spaceTime" column="SPACE_TIME"/>
		<result property="spaceMinPer" column="SPACE_MIN_PER"/>
		<result property="spaceMaxPer" column="SPACE_MAX_PER"/>
		<result property="spaceAdd" column="SPACE_ADD"/>
		<result property="spaceOpenTime" column="SPACE_OPEN_TIME"/>
		<result property="spaceCloseTime" column="SPACE_CLOSE_TIME"/>
		<result property="hostId" column="HOST_ID"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="typeId" column="TYPE_ID"/>
		<result property="statusId" column="STATUS_ID"/>
		<result property="spaceEnroll" column="SPACE_ENROLL"/>
		<result property="spaceUpdate" column="SPACE_UPDATE"/>
	</resultMap>
	<resultMap type="Board" id="boardResultSet">
		<id property="boardId" column="BOARD_ID"/>
		<result property="boardTitle" column="BOARD_TITLE"/>
		<result property="boardContent" column="BOARD_CONTENT"/>
		<result property="boardStatus" column="BOARD_STATUS"/>
		<result property="boardEnroll" column="BOARD_ENROLL"/>
		<result property="boardUpdate" column="BOARD_UPDATE"/>
	</resultMap>
	<resultMap type="Board" id="faqResultSet">
		<id property="boardId" column="FAQ_ID"/>
		<result property="boardType" column="FAQ_TYPE"/>
		<result property="boardTitle" column="FAQ_TITLE"/>
		<result property="boardContent" column="FAQ_CONTENT"/>
		<result property="boardStatus" column="FAQ_STATUS"/>
		<result property="boardEnroll" column="FAQ_ENROLL"/>
		<result property="boardUpdate" column="FAQ_UPDATE"/>
	</resultMap>
   <resultMap type="QnA" id="QnAResultSet">
      <id property="qnaId" column="QNA_ID"/>
      <result property="qContent" column="Q_CONTENT"/>
      <result property="qDate" column="Q_DATE"/>
      <result property="aContent" column="A_CONTENT"/>
      <result property="aDate" column="A_DATE"/>
      <result property="qType" column="Q_TYPE"/>
      <result property="qStatus" column="Q_STATUS"/>
      <result property="qMemberId" column="Q_MEMBER_ID"/>
      <result property="aMemberId" column="A_MEMBER_ID"/>
      <result property="spaceId" column="SPACE_ID"/>
   </resultMap>
	<resultMap type="Book" id="bookResultSet">
		<id property="bookId" column="BOOK_ID"/>
		<result property="bookEnroll" column="BOOK_ENROLL"/>
		<result property="bookPrice" column="BOOK_PRICE"/>
		<result property="bookDate" column="BOOK_DATE"/>
		<result property="bookStartTime" column="BOOK_START_TIME"/>
		<result property="bookEndTime" column="BOOK_END_TIME"/>
		<result property="bookPer" column="BOOK_PER"/>
		<result property="bookRequest" column="BOOK_REQUEST"/>
		<result property="spaceId" column="SPACE_ID"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="statusId" column="STATUS_ID"/>
		<result property="booker" column="BOOKER" />
		<result property="bookerPhone" column="BOOKER_PHONE" />
		<result property="bookerEmail" column="BOOKER_EMAIL" />
		<result property="bookCancel" column="BOOK_CANCEL" />
		<result property="approvalDate" column="APPROVAL_DATE" />
		<result property="spaceName" column="SPACE_NAME" />
		<result property="typeName" column="TYPE_NAME" />
		<result property="spaceAttChange" column="SPACE_ATT_CHANGE" />
		<result property="spaceAddress" column="SPACE_ADDRESS" />
		<result property="spacePhone" column="SPACE_PHONE"/>
		<result property="reviewId" column="REVIEW_ID"/>
		<!-- 결제 -->
		<result property="pStatusId" column="P_STATUS_ID" />
		<result property="paymentId" column="PAYMENT_ID"/>
		<result property="paymentDate" column="PAYMENT_DATE"/>
		<result property="paymentType" column="PAYMENT_TYPE"/>
		<result property="receiptId" column="RECEIPT_ID"/>
		<result property="paymentCancelPrice" column="PAYMENT_CANCEL_PRICE"/>
	</resultMap>
	<resultMap type="TodayBook" id="todayBookResultSet">
		<result property="time" column="time"/>
		<result property="id" column="id"/>
		<result property="count" column="count"/>
	</resultMap>
	<!-- 예약 정보 -->
	<resultMap type="BookList" id="AllBookResultSet">
		<id property="bookId" column="BOOK_ID"/>
		<result property="bookEnroll" column="BOOK_ENROLL"/>
		<result property="bookPrice" column="BOOK_PRICE"/>
		<result property="bookDate" column="BOOK_DATE"/>
		<result property="bookStartTime" column="BOOK_START_TIME"/>
		<result property="bookEndTime" column="BOOK_END_TIME"/>
		<result property="bookPer" column="BOOK_PER"/>
		<result property="bookRequest" column="BOOK_REQUEST"/>
		<result property="booker" column="BOOKER"/>
		<result property="bookerPhone" column="BOOKER_PHONE"/>
		<result property="bookerEmail" column="BOOKER_EMAIL"/>
		<result property="bookCancel" column="BOOK_CANCEL"/>
		<result property="approvalDate" column="APPROVAL_DATE"/>
		<result property="spaceId" column="SPACE_ID"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="statusId" column="STATUS_ID"/>
		<result property="spaceName" column="SPACE_NAME"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="statusName" column="STATUS_NAME"/>
	</resultMap>
  	<!-- 결제 정보 -->
    <resultMap type="Payment" id="PaymentResultSet">
  	  <id property="paymentId" column="PAYMENT_ID"/>
  	  <result property="memberId" column="MEMBER_ID"/>
  	  <result property="bookPrice" column="BOOK_PRICE"/>
  	  <result property="booker" column="BOOKER"/>
  	  <result property="paymentDate" column="PAYMENT_DATE"/>
  	  <result property="paymentCancel" column="PAYMENT_CANCEL"/>
  	  <result property="paymentType" column="PAYMENT_TYPE"/>
  	  <result property="receiptId" column="RECEIPT_ID"/>
  	  <result property="paymentCancelPrice" column="PAYMENT_CANCEL_PRICE"/>
  	  <result property="bookId" column="BOOK_ID"/>
  	  <result property="statusId" column="STATUS_ID"/>
  </resultMap>
  
   <resultMap type="Sales" id="SalesResultSet">
   	  <id property="" column="PAYMENT_ID"/>
   	  <result property="memberId" column="MEMBER_ID"/>
   	  <result property="bookPrice" column="BOOK_PRICE"/>
   	  <result property="booker" column="BOOKER"/>
   </resultMap>
  
  
  
  
	<!-- 1. 정산관리 -->
	<select id="selectAccountList" parameterType="_int" resultMap="accountResultSet">
		SELECT * 
		FROM ACCOUNT
		<if test="_parameter != 0">
			WHERE EXTRACT(MONTH FROM ACCOUNT_START) = #{month}
		</if>
	</select>
	
	<!-- 2. 회원관리 -->
	<select id="selectMemberList" parameterType="string" resultMap="memberResultSet">
		SELECT * FROM MEMBER
		WHERE MEMBER_STATUS = #{memberStatus}
	</select>
	
	<!-- 3. 호스트관리 -->
	<select id="selectHostList" parameterType="_int" resultMap="hostResultSet">
		SELECT * FROM HOST
		<if test="_parameter != 4">
			WHERE STATUS_ID = #{status}
		</if>
	</select>
	
	<!-- 4. faq관리 -->
	<select id="selectFaqList" resultMap="faqResultSet" parameterType="_int">
		SELECT * FROM FAQ 
		<if test="_parameter != 100">
			WHERE FAQ_TYPE = #{status}
		</if>
	</select>
	
	<!-- 5. 공지사항관리 -->
	<select id="selectNoticeList" resultMap="boardResultSet">
		SELECT * FROM BOARD
	</select>
	
	<!-- 6. 호스트문의관리 -->
	<select id="selectQlist" resultMap="QnAResultSet">
		SELECT QNA_ID, Q_CONTENT, Q_DATE, A_CONTENT, A_DATE, Q_STATUS, Q_MEMBER_ID, A_MEMBER_ID, SPACE_ID
		FROM QNA
		WHERE Q_TYPE = 0
	</select>
	
	<!-- 7. 관리자문의관리 -->
	<select id="selectQAdminlist" resultMap="QnAResultSet">
		SELECT QNA_ID, Q_CONTENT, Q_DATE, A_CONTENT, A_DATE, Q_STATUS, Q_MEMBER_ID, A_MEMBER_ID
		FROM QNA
		WHERE Q_TYPE = 1
	</select>
	
	<!-- 8. 관리자답변관리 -->
	<select id="selectAdminlist" resultMap="QnAResultSet">
		SELECT QNA_ID, Q_CONTENT, Q_DATE, A_CONTENT, A_DATE, Q_STATUS, Q_MEMBER_ID, A_MEMBER_ID
		FROM QNA
		WHERE Q_TYPE = 1 AND A_DATE IS NULL
	</select>
	
	<!-- 9. 관리자답변작성 -->
	<update id="insertAnswerAdmin" parameterType="QnA">
		UPDATE QNA SET A_CONTENT = #{aContent}, A_DATE = SYSDATE, A_MEMBER_ID = #{aMemberId} WHERE QNA_ID = #{qnaId}
	</update>
	
	<!-- 10. 신규회원목록(1달) -->
	<select id="selectNewMemberlist" resultMap="memberResultSet">
		SELECT * FROM MEMBER 
		WHERE MEMBER_STATUS = 'Y'
		AND TO_CHAR(MEMBER_ENROLL, 'YYYYMM') = TO_CHAR(SYSDATE, 'YYYYMM')
		ORDER BY MEMBER_ENROLL DESC
	</select>
	
	<!-- 11. 오늘예약목록 -->
	<select id="selectBookList" resultMap="todayBookResultSet">
		SELECT TO_CHAR(BOOK_ENROLL, 'HH24') "time", COUNT(*) "count" FROM BOOK B
		WHERE TO_CHAR(BOOK_ENROLL, 'YYYYMMDD') = TO_CHAR(SYSDATE, 'YYYYMMDD')
		AND TO_CHAR(BOOK_ENROLL, 'MM') = TO_CHAR(SYSDATE, 'MM')
		GROUP BY TO_CHAR(BOOK_ENROLL, 'HH24')
	</select>
	
	<!-- 12. 호스트 승인 처리 -->
	<update id="updateApproveHost" parameterType="_int">
		UPDATE HOST
		SET    STATUS_ID = 2, HOST_UPDATE = SYSDATE
		WHERE  HOST_ID = #{hostId}
	</update>
	
	<!-- 13. 호스트 반려 처리 -->
	<update id="updateCancelHost" parameterType="_int">
		UPDATE HOST
		SET    STATUS_ID = 3, HOST_UPDATE = SYSDATE
		WHERE  HOST_ID = #{hostId}
	</update>
	
	<!-- 14. 공간 관리 -->
	<select id="selectSpaceList" parameterType="_int" resultMap="spaceResultSet">
		SELECT S.*, H.MEMBER_ID FROM SPACE S, HOST H
		WHERE  S.HOST_ID = H.HOST_ID
		<if test="_parameter != 4">
			AND S.STATUS_ID = #{status}
		</if>
	</select>
	
	<!-- 15. 공간 승인 처리 -->
	<update id="updateApproveSpace" parameterType="_int">
		UPDATE SPACE
		SET    STATUS_ID = 2, SPACE_UPDATE = SYSDATE
		WHERE  SPACE_ID = #{spaceId}
	</update>
	
	<!-- 16. 공간 반려 처리 -->
	<update id="updateCancelSpace" parameterType="_int">
		UPDATE SPACE
		SET    STATUS_ID = 3, SPACE_UPDATE = SYSDATE
		WHERE  SPACE_ID = #{spaceId}
	</update>
	
	<!-- 17. 예약 정보 관리 -->
	<select id="selectAllBookList" parameterType="_int" resultMap="AllBookResultSet">
		SELECT B.*, M.MEMBER_NAME, S.SPACE_NAME, T.STATUS_NAME
		FROM   BOOK B,
			   MEMBER M,
			   SPACE S,
			   STATUS T
		WHERE  B.MEMBER_ID = M.MEMBER_ID
		AND    B.SPACE_ID = S.SPACE_ID
		AND    B.STATUS_ID = T.STATUS_ID
		<if test="_parameter != 109">
			AND B.STATUS_ID = #{status}
		</if>
	</select>
  
  	<!-- 18.관리 결제 완료  관리 -->
	<select id="selectPaymentlist" resultMap="PaymentResultSet"  parameterType="_int">
	    SELECT MEMBER_ID, PAYMENT_ID,  BOOK_PRICE, BOOKER,  PAYMENT_DATE, 
	  	PAYMENT_CANCEL,
	    PAYMENT_CANCEL_PRICE,
        PAYMENT_TYPE, RECEIPT_ID, P.STATUS_ID
		FROM PAYMENT P
		JOIN BOOK USING(BOOK_ID)
		<if test="_parameter !=0">
		WHERE P.STATUS_ID = #{status}
		</if>
	</select>
	
	<!-- 19. 총매출 -->
	<select id="selectSalesList" resultMap="todayBookResultSet">
		SELECT TO_CHAR(PAYMENT_DATE, 'MM') time, SUM(B.BOOK_PRICE) count  FROM PAYMENT P
		JOIN BOOK B ON (B.BOOK_ID=P.BOOK_ID)
		WHERE P.STATUS_ID = 104
		AND TO_CHAR(PAYMENT_DATE, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY')
		GROUP BY TO_CHAR(PAYMENT_DATE, 'MM')
	</select>
	
	<!-- 20. 호스트별매출 -->
	<select id="selectSales2List" resultMap="todayBookResultSet">
		SELECT H.HOST_ID time, M.MEMBER_ID id, SUM(B.BOOK_PRICE) count
		FROM PAYMENT P
		LEFT JOIN BOOK B ON (B.BOOK_ID=P.BOOK_ID)
		LEFT JOIN SPACE S ON (B.SPACE_ID=S.SPACE_ID)
		LEFT JOIN HOST H ON(H.HOST_ID=S.HOST_ID)
		LEFT JOIN MEMBER M ON(H.MEMBER_ID=M.MEMBER_ID)
		WHERE P.STATUS_ID = 104 
		AND TO_CHAR(PAYMENT_DATE, 'YYYY') = TO_CHAR(SYSDATE, 'YYYY')
		GROUP BY H.HOST_ID, M.MEMBER_ID
	</select>
  
</mapper>
