<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
	<resultMap type="Board" id="boardResultSet">
		<id property="boardId" column="BOARD_ID"/>
		<result property="boardTitle" column="BOARD_TITLE"/>
		<result property="boardContent" column="BOARD_CONTENT"/>
		<result property="boardStatus" column="BOARD_STATUS"/>
		<result property="boardEnroll" column="BOARD_ENROLL"/>
		<result property="boardUpdate" column="BOARD_UPDATE"/>
	</resultMap>
	<resultMap type="Board" id="faqResultSet">
		<id property="boardId" column="FAQ_ID"/>
		<result property="boardType" column="FAQ_TYPE"/>
		<result property="boardTitle" column="FAQ_TITLE"/>
		<result property="boardContent" column="FAQ_CONTENT"/>
		<result property="boardStatus" column="FAQ_STATUS"/>
		<result property="boardEnroll" column="FAQ_ENROLL"/>
		<result property="boardUpdate" column="FAQ_UPDATE"/>
	</resultMap>
	
	<!-- 1. faq작성 쿼리 -->
	<insert id="insertFaq" parameterType="Board">
		INSERT INTO FAQ VALUES(
			SEQ_FAQ.NEXTVAL, 
			#{boardType}, 
			#{boardTitle},
			#{boardContent},
			DEFAULT,
			SYSDATE,
			SYSDATE
		)
	</insert>
	
	<!-- 2. faq삭제 쿼리 -->
	<update id="deleteFaq" parameterType="_int">
		UPDATE FAQ SET FAQ_STATUS = 'N' WHERE FAQ_ID = #{faqId} 
	</update>
	
	<!-- 3. faq조회 쿼리 -->
	<select id="selectFaq" resultMap="faqResultSet" parameterType="_int">
		SELECT * FROM FAQ WHERE FAQ_ID = #{faqId}
	</select>
	
	<!-- 4. faq수정 쿼리 -->
	<update id="updateFaq" parameterType="Board">
		UPDATE FAQ
		SET
			FAQ_TYPE = #{boardType},
			FAQ_TITLE = #{boardTitle},
			FAQ_CONTENT = #{boardContent},
			FAQ_STATUS = DEFAULT,
			FAQ_UPDATE = SYSDATE
		WHERE FAQ_ID = #{boardId}
	</update>
	
	<!-- 5. 공지사항작성 쿼리 -->
	<insert id="insertNotice" parameterType="Board">
		INSERT INTO BOARD VALUES(
			SEQ_BO.NEXTVAL, 
			#{boardTitle},
			#{boardContent},
			DEFAULT,
			SYSDATE,
			SYSDATE
		)
	</insert>
	
	<!-- 6. 공지사항삭제 쿼리 -->
	<update id="deleteNotice" parameterType="_int">
		UPDATE BOARD SET BOARD_STATUS = 'N' WHERE BOARD_ID = #{noticeId}
	</update>
	
	<!-- 7. 공지사항조회 쿼리 -->
	<select id="selectNotice" parameterType="_int" resultMap="boardResultSet">
		SELECT * FROM BOARD WHERE BOARD_ID = #{noticeId}
	</select>
	
	<!-- 8. 공지사항수정 쿼리 -->
	<update id="updateNotice" parameterType="Board">
		UPDATE BOARD
		SET
			BOARD_TITLE = #{boardTitle},
			BOARD_CONTENT = #{boardContent},
			BOARD_STATUS = DEFAULT,
			BOARD_UPDATE = SYSDATE
		WHERE BOARD_ID = #{boardId}
	</update>
	
	<!-- 9. 공지사항목록 조회 쿼리 -->
	<select id="selectNoticeList" resultMap="boardResultSet">
		SELECT * FROM BOARD WHERE BOARD_STATUS = 'Y'
	</select>

</mapper>
