<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bookMapper">
	<resultMap type="Book" id="bookResultSet">
		<id property="bookId" column="BOOK_ID"/>
		<result property="bookEnroll" column="BOOK_ENROLL"/>
		<result property="bookPrice" column="BOOK_PRICE"/>
		<result property="bookDate" column="BOOK_DATE"/>
		<result property="bookStartTime" column="BOOK_START_TIME"/>
		<result property="bookEndTime" column="BOOK_END_TIME"/>
		<result property="bookPer" column="BOOK_PER"/>
		<result property="bookRequest" column="BOOK_REQUEST"/>
		<result property="spaceId" column="SPACE_ID"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="statusId" column="STATUS_ID"/>
		<result property="booker" column="BOOKER" />
		<result property="bookerPhone" column="BOOKER_PHONE" />
		<result property="bookerEmail" column="BOOKER_EMAIL" />
		<result property="bookCancel" column="BOOK_CANCEL" />
		<result property="approvalDate" column="APPROVAL_DATE" />
		<result property="spaceName" column="SPACE_NAME" />
		<result property="typeName" column="TYPE_NAME" />
		<result property="spaceAttChange" column="SPACE_ATT_CHANGE" />
		<result property="spaceAddress" column="SPACE_ADDRESS" />
		<result property="spacePhone" column="SPACE_TEL" />
		<!-- 결제 -->
		<result property="pStatusId" column="P_STATUS_ID" />
		<result property="paymentId" column="PAYMENT_ID"/>
		<result property="paymentDate" column="PAYMENT_DATE"/>
		<result property="paymentType" column="PAYMENT_TYPE"/>
		<result property="receiptId" column="RECEIPT_ID"/>
		<result property="paymentCancelPrice" column="PAYMENT_CANCEL_PRICE"/>
	</resultMap>
	<resultMap type="Space" id="spaceResultSet">
		<id property="spaceId" column="SPACE_ID"/>
		<result property="spaceName" column="SPACE_NAME"/>
		<result property="spaceComment" column="SPACE_COMMENT"/>
		<result property="spaceDetail" column="SPACE_DETAIL"/>
		<result property="spaceTag" column="SPACE_TAG"/>
		<result property="spaceOption" column="SPACE_OPTION"/>
		<result property="spaceAddress" column="SPACE_ADDRESS"/>
		<result property="spaceNotice" column="SPACE_NOTICE"/>
		<result property="spaceOperStatus" column="SPACE_OPER_STATUS"/>
		<result property="spaceAttChange" column="SPACE_ATT_CHANGE"/>
		<result property="spaceTime" column="SPACE_TIME"/>
		<result property="spaceMinPer" column="SPACE_MIN_PER"/>
		<result property="spaceMaxPer" column="SPACE_MAX_PER"/>
		<result property="spaceAdd" column="SPACE_ADD"/>
		<result property="spaceOpenTime" column="SPACE_OPEN_TIME"/>
		<result property="spaceCloseTime" column="SPACE_CLOSE_TIME"/>
		<result property="hostId" column="HOST_ID"/>
		<result property="typeId" column="TYPE_ID"/>
		<result property="typeName" column="TYPE_NAME"/>
		<result property="statusId" column="STATUS_ID"/>
	</resultMap>
	<resultMap type="Host" id="hostResultSet">
		<id property="hostId" column="HOST_ID"/>
		<result property="hostPhone" column="HOST_PHONE"/>
		<result property="hostEmail" column="HOST_EMAIL"/>
		<result property="hostName" column="HOST_NAME"/>
		<result property="storeName" column="STORE_NAME"/>
		<result property="hostNo" column="HOST_NO"/>
		<result property="hostBank" column="HOST_BANK"/>
		<result property="hostAccount" column="HOST_ACCOUNT"/>
		<result property="hostBname" column="HOST_BNAME"/>
		<result property="hostEnroll" column="HOST_ENROLL"/>
		<result property="hostUpdate" column="HOST_UPDATE"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="statusId" column="STATUS_ID"/>
	</resultMap>
	<resultMap type="Option" id="optionResultSet">
		<id property="optionId" column="OPTION_ID"/>
		<result property="optionName" column="OPTION_NAME"/>
		<result property="optionIcon" column="OPTION_ICON"/>
	</resultMap>
	
	<!-- 공간 정보 조회 쿼리 -->
	<select id="selectSpace" resultMap="spaceResultSet"  parameterType="_int">
		SELECT SPACE_ID, SPACE_NAME, SPACE_COMMENT, TYPE_NAME, SPACE_MIN_PER, SPACE_MAX_PER, SPACE_OPTION, SPACE_NOTICE, SPACE_ATT_CHANGE
		FROM SPACE
		JOIN TYPE USING(TYPE_ID)
		JOIN SPACE_ATT USING(SPACE_ID)
		WHERE SPACE_ID = #{spaceId}
		AND STATUS_ID = 2
		AND SPACE_ATT_STATUS = 'Y'
	</select>
	
	<!-- 공간 상세 옵션 조회 쿼리 -->
	<select id="selectOption" resultMap="optionResultSet">
		SELECT * FROM "OPTION"
	</select>
	
	<!-- 호스트 정보 조회 쿼리 -->
	<select id="selectHost" resultMap="hostResultSet" parameterType="_int">
		SELECT HOST_ID, STORE_NAME, HOST_NAME, HOST_NO, HOST_PHONE, HOST_EMAIL FROM HOST H
		JOIN SPACE USING(HOST_ID) 
		WHERE H.STATUS_ID = 2 AND SPACE_ID = #{spaceId}
	</select>
	
	<!-- 예약 신청 쿼리 -->
	<insert id="insertBook" parameterType="Book">
		INSERT INTO BOOK VALUES(
			#{bookId},
			SYSDATE,
			#{bookPrice},
			#{bookDate},
			#{bookStartTime},
			#{bookEndTime},
			#{bookPer},
			#{bookRequest},
			#{booker},
			#{bookerPhone},
			#{bookerEmail},
			NULL,
			#{memberId},
			#{spaceId},
			100,
			NULL
		)
	</insert>
	
	<!-- 예약 목록 조회 쿼리 -->
	<select id="selectBlist" resultMap="bookResultSet" parameterType="Book">
		SELECT B.*, SPACE_NAME, SPACE_ATT_CHANGE, P.STATUS_ID P_STATUS_ID FROM BOOK B
		JOIN SPACE S ON (S.SPACE_ID = B.SPACE_ID)
		JOIN SPACE_ATT SA ON (S.SPACE_ID = SA.SPACE_ID)
		LEFT JOIN PAYMENT P ON (B.BOOK_ID = P.BOOK_ID)
		WHERE MEMBER_ID = #{memberId}
		<if test="_parameter.statusId != 0">
			<if test="_parameter.statusId != 104">
				<if test="_parameter.statusId != 103">
					AND B.STATUS_ID = #{statusId}
				</if>
				<if test="_parameter.statusId == 103">
					AND B.STATUS_ID = #{statusId} AND P.STATUS_ID = 103
				</if>
			</if>
			<if test="_parameter.statusId == 104">
				 AND P.STATUS_ID = #{statusId} AND B.STATUS_ID = 103
			</if>
		</if>
		ORDER BY B.BOOK_ID DESC
	</select>
	
	<!-- 전체 예약 수 조회 쿼리 -->
	<select id="getbListCount" parameterType="Book" resultType="_int">
		SELECT COUNT(*) FROM BOOK B
		LEFT JOIN PAYMENT P ON (B.BOOK_ID = P.BOOK_ID) 
		WHERE MEMBER_ID = #{memberId}
		<if test="_parameter.statusId != 0">
			<if test="_parameter.statusId != 104">
				<if test="_parameter.statusId != 103">
					AND B.STATUS_ID = #{statusId}
				</if>
				<if test="_parameter.statusId == 103">
					AND B.STATUS_ID = #{statusId} AND P.STATUS_ID = 103
				</if>
			</if>
			<if test="_parameter.statusId == 104">
				 AND P.STATUS_ID = #{statusId} AND B.STATUS_ID = 103
			</if>
		</if>
	</select>
	
	<!-- 예약 내역 조회 쿼리 -->
	<select id="selectBook" parameterType="string" resultMap="bookResultSet">
		SELECT B.*, SPACE_NAME, SPACE_ADDRESS, TYPE_NAME,
		PAYMENT_ID,
		PAYMENT_DATE,
		PAYMENT_TYPE,
		PAYMENT_CANCEL,
		PAYMENT_CANCEL_PRICE,
		P.STATUS_ID P_STATUS_ID,
		RECEIPT_ID FROM BOOK B
		JOIN SPACE S ON (S.SPACE_ID = B.SPACE_ID)
		JOIN TYPE T ON (S.TYPE_ID = T.TYPE_ID)
		LEFT JOIN PAYMENT P ON (B.BOOK_ID = P.BOOK_ID)
		WHERE B.BOOK_ID = #{bookId} AND B.MEMBER_ID = #{memberId}
	</select>
	
	<!-- 예약 취소 쿼리 -->
	<update id="deleteBook" parameterType="string">
		UPDATE BOOK SET STATUS_ID = 102, BOOK_CANCEL = SYSDATE WHERE BOOK_ID = #{bookId}
	</update>
	
	<!-- 리뷰작성여부 쿼리 -->
	<select id="selectReviewCount" parameterType="Book" resultType="_int">
		SELECT COUNT(*) FROM BOOK B
		JOIN MEMBER M ON(M.MEMBER_ID = B.MEMBER_ID)
		JOIN SPACE S ON(B.SPACE_ID = S.SPACE_ID)
		JOIN REVIEW R ON(S.SPACE_ID = R.SPACE_ID)
		WHERE B.MEMBER_ID = #{memberId} 
		AND B.BOOK_ID = #{bookId} 
		AND B.SPACE_ID = #{spaceId}
	</select>
	
	<!-- ============================================ -->
	<!-- ====결제===================================== -->
	<!-- ============================================ --> 
	
	<!-- 결제쿼리 -->
	<insert id="insertPayment" parameterType="Book">
		INSERT INTO PAYMENT VALUES(
			#{paymentId},
			SYSDATE,
			#{paymentType},
			103,
			NULL,
			#{receiptId},
			NULL,
			#{bookId}
		)
	</insert>
	
	<!-- 예약 상태 변경 쿼리 -->
	<update id="updateBookStatus" parameterType="string">
		UPDATE BOOK SET STATUS_ID = 103 WHERE BOOK_ID = #{bookId}
	</update>
	
	<!-- 결제취소 쿼리 -->
	<update id="updatePaymentCancel" parameterType="Book">
		UPDATE PAYMENT SET STATUS_ID = 102, PAYMENT_CANCEL = SYSDATE, PAYMENT_CANCEL_PRICE = #{paymentCancelPrice} WHERE BOOK_ID = #{bookId}
	</update>
	
</mapper>