<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hostMapper">
	<resultMap type="Host" id="hostResultSet">
		<id property="hostId" column="HOST_ID"/>
		<result property="hostPhone" column="HOST_PHONE"/>
		<result property="hostEmail" column="HOST_EMAIL"/>
		<result property="hostName" column="HOST_NAME"/>
		<result property="storeName" column="STORE_NAME"/>
		<result property="hostNo" column="HOST_NO"/>
		<result property="hostBank" column="HOST_BANK"/>
		<result property="hostAccount" column="HOST_ACCOUNT"/>
		<result property="hostBname" column="HOST_BNAME"/>
		<result property="hostEnroll" column="HOST_ENROLL"/>
		<result property="hostUpdate" column="HOST_UPDATE"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="statusId" column="STATUS_ID"/>
	</resultMap>
	
	<resultMap type="BookList" id="bookResultSet">
		<id property="bookId" column="BOOK_ID"/>
		<result property="bookEnroll" column="BOOK_ENROLL"/>
		<result property="bookPrice" column="BOOK_PRICE"/>
		<result property="bookDate" column="BOOK_DATE"/>
		<result property="bookStartTime" column="BOOK_START_TIME"/>
		<result property="bookEndTime" column="BOOK_END_TIME"/>
		<result property="bookPer" column="BOOK_PER"/>
		<result property="bookRequest" column="BOOK_REQUEST"/>
		<result property="booker" column="BOOKER"/>
		<result property="bookerPhone" column="BOOKER_PHONE"/>
		<result property="bookerEmail" column="BOOKER_EMAIL"/>
		<result property="bookCancel" column="BOOK_CANCEL"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="spaceId" column="SPACE_ID"/>
		<result property="statusId" column="STATUS_ID"/>
		<result property="approvalDate" column="APPROVAL_DATE"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="spaceName" column="SPACE_NAME"/>
		<result property="statusName" column="STATUS_NAME"/>
	</resultMap>
	
	<resultMap type="Space" id="hostSpaceResultSet">
		<id property="spaceId" column="SPACE_ID"/>
		<result property="spaceName" column="SPACE_NAME"/>
	</resultMap>
	
	<!-- 호스트 정보 조회 -->
	<select id="selectOne" resultMap="hostResultSet" parameterType="string">
		SELECT *
		FROM   HOST
		WHERE  MEMBER_ID = #{memberId}
	</select>
	
	<!-- 호스트 정보 조회 -->
	<select id="selectInfo" resultMap="hostResultSet" parameterType="_int">
		SELECT *
		FROM   HOST
		WHERE  HOST_ID = #{hostId}
	</select>
	
	<!-- 호스트 신규 등록 -->
	<insert id="insertHost" parameterType="Host">
		INSERT INTO HOST
		VALUES (SEQ_H.NEXTVAL,
				#{hostPhone},
				#{hostEmail},
				#{hostName},
				#{storeName},
				#{hostNo},
				#{hostBank},
				#{hostAccount},
				#{hostBname},
				SYSDATE,
				SYSDATE,
				#{memberId},
				0)
	</insert>
	
	<!-- 호스트 정보 수정 -->
	<update id="updateHost" parameterType="Host">
		UPDATE HOST
		SET    HOST_PHONE = #{hostPhone},
			   HOST_EMAIL = #{hostEmail},
			   <!-- 승인 이전에만 수정 가능 -->
			   <if test="statusId != 2">
			   HOST_NAME = #{hostName},
			   STORE_NAME = #{storeName},
			   HOST_NO = #{hostNo},
			   </if>
			   HOST_BANK = #{hostBank},
			   HOST_ACCOUNT = #{hostAccount},
			   HOST_BNAME = #{hostBname},
			   HOST_UPDATE = SYSDATE
		WHERE  HOST_ID = #{hostId}
		AND    MEMBER_ID = #{memberId}
	</update>
	
	<!-- 호스트 승인 요청 -->
	<update id="updateApplyHost" parameterType="_int">
		UPDATE HOST
		SET    STATUS_ID = 1, <!-- 대기 -->
			   HOST_UPDATE = SYSDATE
		WHERE  HOST_ID = #{hostId}
	</update>
	
	<!-- 예약리스트 수 조회 -->
	<select id="getbListCount" resultType="_int" parameterType="_int">
		SELECT COUNT(*)
		FROM   BOOK B,
		       STATUS S,
		       MEMBER M,
		       SPACE H
		WHERE  B.STATUS_ID = S.STATUS_ID
		AND    B.MEMBER_ID = M.MEMBER_ID
		AND    B.SPACE_ID = H.SPACE_ID
		AND    H.HOST_ID = #{hostId}
	</select>
	
	<select id="selectBookList" resultMap="bookResultSet" parameterType="_int">
		SELECT B.*,
			   M.MEMBER_NAME,
			   H.SPACE_NAME,
			   S.STATUS_NAME
		FROM   BOOK B,
		       STATUS S,
		       MEMBER M,
		       SPACE H
		WHERE  B.STATUS_ID = S.STATUS_ID
		AND    B.MEMBER_ID = M.MEMBER_ID
		AND    B.SPACE_ID = H.SPACE_ID
		AND    H.HOST_ID = #{hostId}
	</select>
	
	<select id="selectSpaceList" resultMap="hostSpaceResultSet" parameterType="_int">
		SELECT SPACE_ID, SPACE_NAME
		FROM   SPACE
		WHERE  HOST_ID = #{hostId}
	</select>
	
</mapper>
