<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
	<resultMap id="memberResultSet" type="Member">
		<id property="memberId" column="MEMBER_ID"/>
		<result property="memberPwd" column="MEMBER_PWD"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="memberPhone" column="MEMBER_PHONE"/>
		<result property="memberAgree" column="MEMBER_AGREE"/>
		<result property="memberEnroll" column="MEMBER_ENROLL"/>
		<result property="memberUpdate" column="MEMBER_UPDATE"/>
		<result property="memberSocial" column="MEMBER_SOCIAL"/>
		<result property="grade" column="GRADE"/>
		<result property="memberStatus" column="MEMBER_STATUS"/>
	</resultMap>
	
	<resultMap id="wishListResultSet" type="WishListVO">
		<id property="spaceId" column="SPACE_ID"/>
		<result property="spaceTag" column="SPACE_TAG"/>
		<result property="spaceName" column="SPACE_NAME"/>
		<result property="spaceOpenTime" column="SPACE_OPEN_TIME"/>
		<result property="spaceCloseTime" column="SPACE_CLOSE_TIME"/>
		<result property="spaceAddress" column="SPACE_ADDRESS"/>
		<result property="spaceMaxPer" column="SPACE_MAX_PER"/>
		<result property="spaceTime" column="SPACE_TIME"/>
		<result property="priceTime" column="PRICE_TIME"/>
		<result property="spaceAttChange" column="SPACE_ATT_CHANGE"/>
	</resultMap>
	
	<resultMap id="memberReviewResultSet" type="MemberReviewVO">
		<id property="reviewId" column="REVIEW_ID"/>
		<result property="spaceName" column="SPACE_NAME"/>
		<result property="reviewScore" column="REVIEW_SCORE"/>
		<result property="reviewContent" column="REVIEW_CONTENT"/>
		<result property="reviewEnroll" column="REVIEW_ENROLL"/>
		<result property="reviewStatus" column="REVIEW_STATUS"/>
		<result property="reviewAttChange" column="REVIEW_ATT_CHANGE"/>
	</resultMap>
	
	
	<resultMap id="memberQnaResultSet" type="MemberQnaVO">
		<id property="qnaId" column="QNA_ID"/>
		<result property="qContent" column="Q_CONTENT"/>
		<result property="qDate" column="Q_DATE"/>
		<result property="aContent" column="A_CONTENT"/>
		<result property="aDate" column="A_DATE"/>
		<result property="qType" column="Q_TYPE"/>
		<result property="qStatus" column="Q_STAUTS"/>
		<result property="qMemberId" column="Q_MEMBER_ID"/>
		<result property="aMemberId" column="A_MEMBER_ID"/>
		<result property="spaceId" column="SPACE_ID"/>
	</resultMap>
	
	
	<select id="selectOne" parameterType="Member" resultMap="memberResultSet">
		SELECT * FROM MEMBER
		WHERE MEMBER_ID = #{memberId}
		<!-- AND MEMBER_PWD = #{memberPwd} -->
		AND MEMBER_STATUS = 'Y'
	</select>
	
	<delete id="deleteMember" parameterType="String">
		UPDATE MEMBER 
		SET MEMBER_STATUS ='N'
		WHERE MEMBER_ID = #{memberId}
	</delete>
	
	
	<insert id="insertMember" parameterType="Member" >
		INSERT INTO MEMBER 
		VALUES (#{memberId},
				#{memberPwd},
				#{memberName},
				#{memberPhone},
				#{memberAgree},
				DEFAULT,
				DEFAULT,
				DEFAULT,
				DEFAULT,
				'Y'			
		)
	</insert>
	<select id="checkId" parameterType="String" resultType="Integer">
		SELECT COUNT(*) 
		FROM MEMBER
		WHERE MEMBER_ID = #{memberId}
	</select>

	<select id="checkPwd" parameterType="Member" resultMap="memberResultSet">
		SELECT MEMBER_PWD FROM MEMBER
		WHERE MEMBER_ID = #{memberId}
		AND MEMBER_STATUS = 'Y'
	</select>
	
	<update id="changePwd" parameterType="Member"> 
		UPDATE MEMBER 
		SET MEMBER_PWD = #{memberPwd},
		MEMBER_UPDATE = SYSDATE
		WHERE MEMBER_ID = #{memberId}
	</update>
	
	
	<update id="findPwd" parameterType="MailVO"> 
		UPDATE MEMBER 
		SET MEMBER_PWD = #{temp},
		MEMBER_UPDATE = SYSDATE
		WHERE MEMBER_ID = #{to}
	</update>
	
	<insert id="insertSocialMember" parameterType="Member" >
		INSERT INTO MEMBER 
		VALUES (#{memberId},
				#{memberPwd},
				#{memberName},
				#{memberPhone},
				#{memberAgree},
				DEFAULT,
				DEFAULT,
				#{memberSocial},
				DEFAULT,
				'Y'			
		)
	</insert>
	
	<select id="selectSocialId" parameterType="String" resultMap="memberResultSet">
		SELECT * FROM MEMBER
		WHERE MEMBER_ID = #{memberId}
		AND MEMBER_STATUS = 'Y'
	</select>
    
      <update id="updatePhone" parameterType="Member">
      	UPDATE MEMBER SET
      	MEMBER_PHONE = #{memberPhone},
      	MEMBER_UPDATE = SYSDATE
		WHERE MEMBER_ID = #{memberId}  	
      </update>
      
 	<select id="selectWishList"  parameterType="String" resultMap="wishListResultSet" >
		SELECT SPACE_ID, 
			SPACE_TAG, 
			SPACE_NAME, 
			SPACE_OPEN_TIME, 
			SPACE_CLOSE_TIME, SPACE_ADDRESS,
			SPACE_MAX_PER, SPACE_TIME, SPACE_ATT_CHANGE
		FROM WISHLIST
		JOIN SPACE USING(SPACE_ID)
		JOIN SPACE_ATT USING(SPACE_ID)
		WHERE MEMBER_ID = #{memberId} AND SPACE_ATT_TYPE='0'
      </select>    
      
      <select id="selectReviewList" parameterType="String" resultMap="memberReviewResultSet"> 
      	SELECT 
      		REVIEW_ID,
      		SPACE_NAME,
	      	REVIEW_SCORE,
	      	REVIEW_CONTENT,
	      	REVIEW_ENROLL,
	      	REVIEW_STATUS,
	      	SPACE_ATT_CHANGE
	    FROM REVIEW
	    JOIN SPACE USING(SPACE_ID)
	    JOIN SPACE_ATT USING(SPACE_ID)
	    WHERE MEMBER_ID= #{member} AND SPACE_ATT_TYPE='0'
	    ORDER BY REVIEW_ID DESC
      </select>
   
      <select id="memberListCount" parameterType="String" resultType="_int">
      	SELECT COUNT(*)
 		FROM REVIEW
 		JOIN SPACE USING(SPACE_ID)
	    JOIN SPACE_ATT USING(SPACE_ID)
	    WHERE MEMBER_ID= #{memberId} AND SPACE_ATT_TYPE='0'
	  </select>
	  
	  <delete id="delteWishList" parameterType="WishListVO">
	  <bind name="memberId" value="_parameter.getMemberId()"/>
	  	DELETE
	  	 FROM WISHLIST 
	  	 WHERE SPACE_ID = #{spaceId} AND MEMBER_ID= #{memberId}
	  </delete>
	  
	  <select id="memberQListCount" parameterType="string" resultType="_int"><!-- 
	  <bind name="qMemberId" value="_parameter.getqMemberId()" />
		<bind name="qStatus" value="_parameter.getqStatus()" /> -->
	    SELECT COUNT(*)
 		FROM QNA
	    WHERE Q_MEMBER_ID = #{memberId}
		AND Q_STATUS='Y' AND Q_TYPE=1
		<!-- <if test="qStatus != 'A'">
		AND    ((NVL(#{qStatus}, 'Y') = 'Y' AND Q.A_CONTENT IS NOT NULL) OR
			    (NVL(#{qStatus}, 'N') = 'N' AND Q.A_CONTENT IS NULL))
		</if> -->
	  </select>
	  
	  <select id="selectQnaList" parameterType="string" resultMap="memberQnaResultSet">
	  <!-- <bind name="qMemberId" value="_parameter.getqMemberId()" />
		<bind name="qStatus" value="_parameter.getqStatus()" /> -->
        SELECT *
		FROM   QNA
		WHERE  Q_TYPE = '1'
		AND    Q_STATUS = 'Y'
		AND    Q_MEMBER_ID = #{memberId}
		ORDER BY QNA_ID DESC
	  </select>
	  
	  <!-- 1:1문의 등록 처리 -->
	  <insert id="insertQna" parameterType="MemberQnaVO">
	  	INSERT INTO QNA
	  	VALUES (SEQ_Q.NEXTVAL, #{qContent}, SYSDATE, NULL, NULL, '1', DEFAULT, #{qMemberId}, NULL, NULL)
	  </insert>
      
      
      
</mapper>