<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="paymentMapper">
	<resultMap type="Payment" id="paymentResultSet">
		<id property="paymentId" column="PAYMENT_ID"/>
		<result property="paymentDate" column="PAYMENT_DATE"/>
		<result property="paymentType" column="PAYMENT_TYPE"/>
		<result property="paymentStatus" column="PAYMENT_STATUS"/>
		<result property="bookId" column="BOOK_ID"/>
		<result property="receiptId" column="RECEIPT_ID"/>
	</resultMap>
	
	<!-- 결제쿼리 -->
	<insert id="insertPayment" parameterType="Payment">
		INSERT INTO PAYMENT VALUES(
			#{paymentId},
			SYSDATE,
			#{paymentType},
			103,
			#{bookId},
			NULL,
			#{receiptId}
		)
	</insert>
	
	<!-- 예약 상태 변경 쿼리 -->
	<update id="updateBookStatus" parameterType="_int">
		UPDATE BOOK SET STATUS_ID = 103 WHERE BOOK_ID = #{bookId}
	</update>
	
	<!-- 결제취소 쿼리 -->
	<update id="updatePaymentCancel" parameterType="Payment">
		UPDATE PAYMENT SET STATUS_ID = 102, PAYMENT_CANCEL = SYSDATE WHERE BOOK_ID = #{bookId}
	</update>
	
</mapper>
