<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="spaceMapper">
	<resultMap type="Space" id="spaceResultSet">
		<id property="spaceId" column="SPACE_ID"/>
		<result property="spaceName" column="SPACE_NAME"/>
		<result property="spaceComment" column="SPACE_COMMENT"/>
		<result property="spaceDetail" column="SPACE_DETAIL"/>
		<result property="spaceTag" column="SPACE_TAG"/>
		<result property="spaceOption" column="SPACE_OPTION"/>
		<result property="spaceAddress" column="SPACE_ADDRESS"/>
		<result property="spaceNotice" column="SPACE_NOTICE"/>
		<result property="spaceOperStatus" column="SPACE_OPER_STATUS"/>
		<result property="spaceTime" column="SPACE_TIME"/>
		<result property="spaceMinPer" column="SPACE_MIN_PER"/>
		<result property="spaceMaxPer" column="SPACE_MAX_PER"/>
		<result property="spaceAdd" column="SPACE_ADD"/>
		<result property="spaceOpenTime" column="SPACE_OPEN_TIME"/>
		<result property="spaceCloseTime" column="SPACE_CLOSE_TIME"/>
		<result property="hostId" column="HOST_ID"/>
		<result property="typeId" column="TYPE_ID"/>
		<result property="statusId" column="STATUS_ID"/>
	</resultMap>
	
	<select id="selectspaceDetail" parameterType="_int" resultMap="spaceResultSet">
		SELECT SPACE_ID,SPACE_NAME,SPACE_DETAIL,SPACE_TAG,SPACE_ADDRESS,SPACE_NOTICE,SPACE_TIME,SPACE_MIN_PER,SPACE_MAX_PER,SPACE_OPEN_TIME,SPACE_CLOSE_TIME,TYPE_NAME
		FROM SPACE
		JOIN TYPE USING (TYPE_ID)
		WHERE STATUS_ID=2 
		AND SPACE_OPER_STATUS='Y'
		AND SPACE_ID=4
	</select>
	
</mapper>
