<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="spaceMapper">

	<resultMap type="Space" id="spaceResultSet">
		<id property="spaceId" column="SPACE_ID"/>
		<result property="spaceName" column="SPACE_NAME"/>
		<result property="spaceComment" column="SPACE_COMMENT"/>
		<result property="spaceDetail" column="SPACE_DETAIL" jdbcType="CLOB" javaType="java.lang.String"/>
		<result property="spaceTag" column="SPACE_TAG"/>
		<result property="spaceOption" column="SPACE_OPTION"/>
		<result property="spaceAddress" column="SPACE_ADDRESS"/>
		<result property="spacePhone" column="SPACE_PHONE"/>
		<result property="spaceNotice" column="SPACE_NOTICE"/>
		<result property="spaceOperStatus" column="SPACE_OPER_STATUS"/>
		<result property="spaceTime" column="SPACE_TIME"/>
		<result property="spaceMinPer" column="SPACE_MIN_PER"/>
		<result property="spaceMaxPer" column="SPACE_MAX_PER"/>
		<result property="spaceAdd" column="SPACE_ADD"/>
		<result property="spaceOpenTime" column="SPACE_OPEN_TIME"/>
		<result property="spaceCloseTime" column="SPACE_CLOSE_TIME"/>
		<result property="hostId" column="HOST_ID"/>
		<result property="typeId" column="TYPE_ID"/>
		<result property="statusId" column="STATUS_ID"/>
		<result property="spaceEnroll" column="SPACE_ENROLL"/>
		<result property="spaceUpdate" column="SPACE_UPDATE"/>
		<result property="spaceAttOrigin" column="SPACE_ATT_ORIGIN"/>
		<result property="spaceAttChange" column="SPACE_ATT_CHANGE"/>
		<result property="typeName" column="TYPE_NAME"/>
		<result property="priceFlag" column="PRICE_FLAG"/>
	</resultMap>
	
	<resultMap type="SpaceAtt" id="spaceAttResultSet">
		<id property="spaceAttId" column="SPACE_ATT_ID"/>
		<result property="spaceAttOrigin" column="SPACE_ATT_ORIGIN"/>
		<result property="spaceAttChange" column="SPACE_ATT_CHANGE"/>
		<result property="spaceAttFilepath" column="SPACE_ATT_FILEPATH"/>
		<result property="spaceAttDate" column="SPACE_ATT_DATE"/>
		<result property="spaceAttType" column="SPACE_ATT_TYPE"/>
		<result property="spaceAttStatus" column="SPACE_ATT_STATUS"/>
		<result property="spaceId" column="SPACE_ID"/>
	</resultMap>
	
	<resultMap type="Price" id="priceResultSet">
		<id property="spaceId" column="SPACE_ID"/>
		<result property="priceId" column="PRICE_ID"/>
		<result property="priceWeekend" column="PRICE_WEEKEND"/>
		<result property="priceTime" column="PRICE_TIME" jdbcType="CLOB" javaType="java.lang.String"/>
		<result property="spaceOpenTime" column="SPACE_OPEN_TIME"/>
		<result property="spaceCloseTime" column="SPACE_CLOSE_TIME"/>
		<result property="spaceAdd" column="SPACE_ADD"/>
	</resultMap>
	
	<resultMap type="Type" id="typeResultSet">
		<id property="typeId" column="TYPE_ID"/>
		<result property="typeName" column="TYPE_NAME"/>
	</resultMap>
	
	<resultMap type="Option" id="optionResultSet">
		<id property="optionId" column="OPTION_ID"/>
		<result property="optionName" column="OPTION_NAME"/>
		<result property="optionIcon" column="OPTION_ICON"/>
	</resultMap>
	
	<resultMap type="DayOff" id="dayOffResultSet">
		<id property="dayOffId" column="DAYOFF_ID"/>
		<result property="dayOffStart" column="DAYOFF_START"/>
		<result property="dayOffEnd" column="DAYOFF_END"/>
		<result property="spaceId" column="SPACE_ID"/>
	</resultMap>
	<!-- 공간 ID 조회 -->
	<select id="selectSpaceId" resultType="_int">
		SELECT SEQ_SP.NEXTVAL FROM DUAL
	</select>
	
	<!-- 공간 신규 등록 -->
	<insert id="insertSpace" parameterType="Space">
		INSERT INTO SPACE
		VALUES (#{spaceId},
				#{spaceName},
				#{spaceComment},
				#{spaceDetail},
				#{spaceTag},
				#{spaceOption},
				#{spaceAddress},
				#{spaceNotice},
				DEFAULT,
				#{spaceTime},
				#{spaceMinPer},
				#{spaceMaxPer},
				#{spaceAdd},
				#{spaceOpenTime},
				#{spaceCloseTime},
				#{hostId},
				#{typeId},
				#{statusId},
				DEFAULT,
				DEFAULT,
				#{spacePhone})
	</insert>
	
	<!-- 공간 사진 등록 -->
	<insert id="insertFile" parameterType = "SpaceAtt">
		INSERT INTO SPACE_ATT
		VALUES (SEQ_SP_ATT.NEXTVAL,
				#{spaceAttOrigin},
				#{spaceAttChange},
				#{spaceAttChange},
				DEFAULT,
				#{spaceAttType},
				DEFAULT,
				#{spaceId})
	</insert>
	
	<!-- 공간 가격 등록 -->
	<insert id="insertPrice" parameterType="Price">
		INSERT INTO PRICE
		VALUES (SEQ_SP_PR.NEXTVAL,
				#{priceWeekend},
				#{priceTime},
				#{spaceId})
	</insert>
	
	<!-- 1인당 추가 금액 등록 -->
	<update id="updateAddPrice" parameterType="Space">
		UPDATE SPACE
		SET    SPACE_ADD = #{spaceAdd},
			   SPACE_UPDATE = SYSDATE
		WHERE  SPACE_ID = #{spaceId}
	</update>
	
	<!-- 공간 리스트 수 조회 -->
	<select id="getsListCount" resultType="_int" parameterType="string">
		SELECT COUNT(*)
		FROM   SPACE S,
			   HOST H,
			   SPACE_ATT A
		WHERE  S.HOST_ID = H.HOST_ID
		AND    H.MEMBER_ID = #{memberId}
		AND    S.SPACE_ID = A.SPACE_ID
		AND    A.SPACE_ATT_TYPE = '0'
	</select>
	
	<!-- 공간 리스트 조회 -->
	<select id="selectList" parameterType="string" resultMap="spaceResultSet">
		SELECT S.*,
			   (SELECT 'Y' FROM PRICE WHERE SPACE_ID = S.SPACE_ID AND ROWNUM = 1) PRICE_FLAG,
			   A.SPACE_ATT_ORIGIN,
			   A.SPACE_ATT_CHANGE
		FROM   SPACE S,
			   HOST H,
			   SPACE_ATT A
		WHERE  S.HOST_ID = H.HOST_ID
		AND    H.MEMBER_ID = #{memberId}
		AND    S.SPACE_ID = A.SPACE_ID
		AND    A.SPACE_ATT_TYPE = '0'
	</select>
	
	<!-- 공간 정보 조회 -->
	<select id="selectSpace" parameterType="_int" resultMap="spaceResultSet">
		SELECT S.*,
			   A.SPACE_ATT_ORIGIN,
			   A.SPACE_ATT_CHANGE,
			   T.TYPE_NAME
		FROM   SPACE S,
			   SPACE_ATT A,
			   TYPE T
		WHERE  S.SPACE_ID = #{spaceId}
		AND    S.SPACE_ID = A.SPACE_ID
		AND    S.TYPE_ID = T.TYPE_ID
		AND    A.SPACE_ATT_TYPE = '0'
	</select>
	
	<!-- 공간 파일 정보 조회 -->
	<select id="selectSpaceAtt" parameterType="_int" resultMap="spaceAttResultSet">
		SELECT SPACE_ATT_ID,
			   SPACE_ATT_ORIGIN,
			   SPACE_ATT_CHANGE,
			   SPACE_ID
		FROM   SPACE_ATT
		WHERE  SPACE_ID = #{spaceId}
		AND    SPACE_ATT_TYPE = '1'
		ORDER BY SPACE_ATT_CHANGE
	</select>
	
	<!-- 공간 정보 수정 -->
	<update id="updateSpace" parameterType="Space">
		UPDATE SPACE
		SET    SPACE_COMMENT = #{spaceComment},
			   SPACE_DETAIL = #{spaceDetail},
			   SPACE_TAG = #{spaceTag},
			   SPACE_OPTION = #{spaceOption},
			   SPACE_NOTICE = #{spaceNotice},
			   SPACE_TIME = #{spaceTime},
			   SPACE_MIN_PER = #{spaceMinPer},
			   SPACE_MAX_PER = #{spaceMaxPer},
			   SPACE_OPEN_TIME = #{spaceOpenTime},
			   SPACE_CLOSE_TIME = #{spaceCloseTime},
			   <!-- 승인 이전에만 수정 가능 -->
			   <if test="statusId == 0 or statusId == 3">
			   SPACE_NAME = #{spaceName},
			   SPACE_ADDRESS = #{spaceAddress},
			   TYPE_ID = #{typeId},
			   </if>
			   SPACE_PHONE = #{spacePhone},
			   SPACE_UPDATE = SYSDATE
		WHERE  SPACE_ID = #{spaceId}
	</update>
	
	<!-- 공간 파일 정보 수정 -->
	<update id="updateFile" parameterType="SpaceAtt">
		UPDATE SPACE_ATT
		SET    SPACE_ATT_ORIGIN = #{spaceAttOrigin}
		WHERE  SPACE_ID = #{spaceId}
		AND    SPACE_ATT_TYPE = #{spaceAttType}
		AND    SPACE_ATT_CHANGE = #{spaceAttChange}
	</update>
	
	<!-- 공간 가격 조회 -->
	<select id="selectPrice" parameterType="_int" resultMap="priceResultSet">
		SELECT S.SPACE_OPEN_TIME,
			   S.SPACE_CLOSE_TIME,
			   S.SPACE_ADD,
			   S.SPACE_ID,
			   P.PRICE_ID,
			   DECODE(P.PRICE_WEEKEND, '월', '1', '화', '2', '수', '3', '목', '4', '금', '5', '토', '6', '일', '7', '휴', '8', '') PRICE_WEEKEND,
			   <!-- P.PRICE_WEEKEND, -->
			   P.PRICE_TIME
		FROM   SPACE S LEFT JOIN PRICE P ON (S.SPACE_ID = P.SPACE_ID)
		WHERE  S.SPACE_ID = #{spaceId}
	</select>
	
	<!-- 공간 가격 수정 -->
	<update id="updatePrice" parameterType="Price">
		UPDATE PRICE
		SET    PRICE_TIME = #{priceTime}
		WHERE  PRICE_ID = #{priceId}
		AND    SPACE_ID = #{spaceId}
	</update>
	
	<!-- 공간 타입 리스트 조회 -->
	<select id="selectType" resultMap="typeResultSet">
		SELECT * FROM TYPE ORDER BY TYPE_ID
	</select>
	
	<!-- 공간 옵션 리스트 조회 -->
	<select id="selectOption" resultMap="optionResultSet">
		SELECT * FROM "OPTION" ORDER BY OPTION_ID
	</select>
	
	<!-- 공간 승인 요청 -->
	<!-- 등록, 반려 상태일 경우에만 승인 요청 가능 -->
	<update id="updateApply" parameterType="_int">
		UPDATE SPACE
		SET    STATUS_ID = 1,
			   SPACE_UPDATE = SYSDATE
		WHERE  SPACE_ID = #{spaceId}
		AND    STATUS_ID IN (0, 3)
	</update>
	
	<!-- 공간 삭제 -->
	<!-- 등록, 대기, 반려 상태일 경우 삭제 가능 -->
	<delete id="deleteSpace" parameterType="_int">
		DELETE SPACE
		WHERE  SPACE_ID = #{spaceId}
		AND    STATUS_ID ^= 2
	</delete>
	
	
	
	
	<!--10/04 강미리 추가 -->
	<!-- 공간 상세 조회 -->
	<select id="selectspaceDetail" parameterType="_int" resultMap="spaceResultSet">
		SELECT * 
		FROM SPACE 
		WHERE SPACE_ID =#{spaceId}
	</select>
	
	<!-- 공간 타입 조회 -->
	<select id="selectTypeName" parameterType="_int" resultMap="typeResultSet">
	SELECT TYPE_NAME
	FROM TYPE
	WHERE TYPE_ID=#{typeId}
	</select>
	
	<!-- 공간 세부 옵션 조회 -->
	<select id="selectOptionList" resultMap="optionResultSet">
	SELECT * FROM "OPTION"
	</select>
	
	<insert id="wishList" parameterType="wishList">
	INSERT INTO WISHLIST 
	VALUES(
	#{memberId},
	#{spaceId})
	</insert>
	
	<!-- 호스트의 다른 공간 조회 -->
	<select id="hostSpace" parameterType="_int" resultMap="spaceResultSet">
	SELECT P.*, SPACE_ATT_CHANGE 
	FROM SPACE P
	JOIN SPACE_ATT A ON(P.SPACE_ID=A.SPACE_ID)
	WHERE STATUS_ID=2  
	AND(SPACE_ATT_TYPE=0
	AND SPACE_OPER_STATUS='Y'
	AND HOST_ID=#{hostId})
	</select>
	 
	
	
	<!-- 찜 조회  -->
	<select id="wishSelect" parameterType="WishList" resultType="_int">
	SELECT COUNT(*) 
	FROM WISHLIST
	WHERE MEMBER_ID=#{memberId}
	AND SPACE_ID=#{spaceId}
	</select>
	
	<!-- 찜 삭제 -->
	<delete id="wishDelete" parameterType="WishList">
	DELETE 
	FROM WISHLIST
	WHERE MEMBER_ID=#{memberId}
	AND SPACE_ID=#{spaceId}
	</delete>
	
	<!-- 공간 이미지 조회  -->
	<select id="spaceAttImg" parameterType="SpaceAtt" resultType="string">
	SELECT SPACE_ATT_CHANGE
	FROM SPACE_ATT
	WHERE SPACE_ID=#{spaceId}
	</select> 
	
	<!-- 일치한 요일의 금액 조회  -->
	<select id="selectPriceList" parameterType="Price" resultMap="priceResultSet">
	SELECT PRICE_TIME
	FROM PRICE
	WHERE price_weekend=#{priceWeekend}
	AND space_id=#{spaceId}
	</select>
	
	<!-- 해당 공간의 휴무일 조회 -->
	<select id="dayOffList" parameterType="DayOff" resultType="string">
	SELECT DAYOFF_START,DAYOFF_END
    FROM DAYOFF
    WHERE SPACE_ID=#{spaceId}
	</select>
	
</mapper>