<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/> 
	</settings>

	<typeAliases>
		<typeAlias type="com.project.splace.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.project.splace.member.model.vo.MailVO" alias="MailVO"/>
		<typeAlias type="com.project.splace.host.model.vo.Host" alias="Host"/>
		<typeAlias type="com.project.splace.space.model.vo.Space" alias="Space"/>
		<typeAlias type="com.project.splace.space.model.vo.SpaceAtt" alias="SpaceAtt"/>
		<typeAlias type="com.project.splace.space.model.vo.Type" alias="Type"/>
		<typeAlias type="com.project.splace.search.model.vo.Search" alias="Search"/>
		<typeAlias type="com.project.splace.book.model.vo.Book" alias="Book"/>
		<typeAlias type="com.project.splace.space.model.vo.Option" alias="Option"/>
		<typeAlias type="com.project.splace.qna.model.vo.QnA" alias="QnA"/>
		<typeAlias type="com.project.splace.space.model.vo.Price" alias="Price"/>
		<typeAlias type="com.project.splace.space.model.vo.WishList" alias="WishList"/>
		<typeAlias type="com.project.splace.host.model.vo.BookList" alias="BookList"/>
	</typeAliases>
	
  	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/host-mapper.xml"/>
		<mapper resource="mappers/search-mapper.xml"/>
		<mapper resource="mappers/book-mapper.xml"/>
		<mapper resource="mappers/space-mapper.xml"/>
		<mapper resource="mappers/qna-mapper.xml"/>
  	</mappers>
</configuration>
