@charset "UTF-8";

/* #main>.inner article{border: 1px solid black;} */
/* #main>.inner div, #main>.inner ul{
    border: 1px solid grey;
}
#main>.inner table{border: 1px solid coral} */
.bookListTop{padding: 0 !important;}
/* listCount--------------------------------- */
.listCount{
	color: #4c74b9;
	position: absolute;
    left: 0;
    bottom: 0;
}
/* selectBox--------------------------------- */
.filterContainer{width: 12%; float: right;}
.filterContainer .current {font-size: 70%;}
.filterContainer .option {font-size: 60% !important;}
.filterContainer .nice-select .list{background-color: white !important; border: 1px solid #4c74b9 !important; border-radius: 5px !important;}

/* table------------------------------------ */
table{padding: 0 !important}
table *{margin: 0 !important;}
table tr{background-color: transparent !important;}
table td:first-child{vertical-align: middle; text-align: center; padding: auto 0 !important;}
table td:nth-child(1){width: 20%; vertical-align: middle; text-align: center}
table td:nth-child(1) img{height: 15%;}
table td:nth-child(2){width: 60%;vertical-align: middle}
table td:nth-child(2)>div{border-left: 1px solid #c9c9c9;border-right: 1px solid #c9c9c9;}
table td:nth-child(2) .col-12:first-child{
    font-weight: bold; 
    color: #4c74b9; 
    letter-spacing: -1px; 
    font-size: 80%;
}
table td:last-child{width: 20%; vertical-align: middle}
table td:last-child div{
    width: fit-content;
    margin: auto !important;
}
table td:last-child button{
    padding: 0 1.2em !important; 
    margin: 1% 0 !important;
}

