@charset "UTF-8";

/* #main>.inner article{border: 1px solid black;} */
/* #main>.inner div, #main>.inner ul{
    border: 1px solid grey;
}
#main>.inner table{border: 1px solid coral} */

/* selectBox--------------------------------- */
.filterContainer{width: 12%; float: right;}
.filterContainer .current {font-size: 70%;}
.filterContainer .option {font-size: 60% !important;}
.filterContainer .nice-select .list{background-color: white !important; border: 1px solid #4c74b9 !important; border-radius: 5px !important;}

/* table------------------------------------ */
table{padding: 0 !important}
table *{margin: 0 !important;}
table tr{background-color: transparent !important;}
table td:first-child{width: 20%; vertical-align: middle; text-align: center}
table td:first-child img{height: 15%;}
table td:nth-child(2){width: 60%;vertical-align: middle}
table td:nth-child(2)>div{border-left: 1px solid #c9c9c9;border-right: 1px solid #c9c9c9;}
table td:nth-child(2) .col-12:first-child{
    font-weight: bold; 
    color: #4c74b9; 
    letter-spacing: -1px; 
    font-size: 80%;
}
table td:last-child{width: 20%; vertical-align: middle}
table td:last-child div{
    width: fit-content;
    margin: auto !important;
}
table td:last-child button{
    padding: 0 1.2em !important; 
    /* width: 49%; */ 
}

/* pagination-------------------------------- */
.pagination-container {
    margin: 0 auto;
    text-align: center;
}
.pagination {
    position: relative;
}
.pagination a {
    position: relative;
    display: inline-block;
    color: #585858;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 3px 14px;
    text-align: center;
    border: 0;
}
.pagination-inner a:first-child{padding: 3px 15.5px;}
.pagination a:before {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    top: 0;
    left: 0;
    background-color: #4c74b9;
    border-radius: 24px;
    -webkit-transform: scale(0);
            transform: scale(0);
    transition: all 0.2s;
}
.pagination a:hover,
.pagination a .pagination-active {
    color: #fff !important;
    text-decoration: none !important;
}
.pagination a:hover:before,
.pagination a .pagination-active:before {
    -webkit-transform: scale(1);
            transform: scale(1);
}
.pagination .pagination-active {
    color: #fff;
}
.pagination .pagination-active:before {
    -webkit-transform: scale(1);
            transform: scale(1);
}
.pagination-newer {
    margin-right: 50px;
}
.pagination-older {
    margin-left: 50px;
}