
.changeForm_wrapper{
    margin: 8rem 0 0 0;
}
.changeForm_1, .changeForm_2{
    margin: 1.5rem 0 0 0  !important;
}

.changeForm_1>div{
    margin: 0.5em 0 0 0 !important;
}




/* 배경 이미지 */

.change_bg{
    
    background-image: url(../img/back08.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: scroll;
    background-position: left center;
}
 .ok {
box-shadow:inset 0 -1px 0 0 #1b6b2e;
border-color:#1b6b2e;
}
.error{
	box-shadow:inset 0 -1px 0 0 rgb(204, 0, 0);
	border-color: rgb(204, 0, 0);
}
.change_btn{
	display: inline-block;
	width : 49%;
}
.changeForm_2:nth-child(2){
	text-align: right;
}