.center{
	text-align: center;
}
.common_wrapper{
    padding: 2em 2em 2em 2em;
    min-height: 55rem;
}

 .wrapper_left{
    /* margin: 0 2em 0 0em;  */
   padding: 0 2em 0 2em !important;
}
 .wrapper_right{
    padding-right: 2em;

}
hr{
    margin: 0em 0 1em 0;
}

.gjoin_box_2{
    margin: 3em 0 0 0;
}