.welcome_bg{
    background-image: url(../img/back04.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: scroll;
    background-position: left center;
}

.welcome_box{
    margin: 10rem 0 0 0;
    color: #595959;
}
 
.join_Form{
    margin: 5em 0 0 0;
} 
 .gjoin_box{
    margin: 0 0 1em 0;
} 


.ok {
box-shadow:inset 0 -1px 0 0 #1b6b2e;
border-color:#1b6b2e;
}
.error{
	box-shadow:inset 0 -1px 0 0 rgb(204, 0, 0);
	border-color: rgb(204, 0, 0);
}

span.guide{
	
}
