@charset "UTF-8";

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"],
select {
	height: 2em !important;
}

.noticeDiv {
	padding-top: 15px !important;
}
.labelText {
	font-size: 0.9em;
	font-weight: 900;
}
.noticeColor {
	color: #4C74B9;
	font-size: 80%;
}
.warningColor {
	color: #cc0000;
	font-size: 80%;
}
.borderTop {
	border-top: 3px solid #4C74B9;
}
a {
	border-bottom: none;
}
a:hover {
	text-decoration: none;
}