

.join_left{
    color: #f5f5f5;
    background-image: url(../img/back05.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: scroll;
    background-position: left center;

}
/* .join_form_box>h2{
    margin-top: 2em;
} */
.join_left>div{
	padding: 0 2em 0em 0;
	margin: 24rem 0em 0em 0em;
	
}

.join_left>h2{
    margin-top: 4em;
    
}
.join_right{
    padding-right: 2em;
}
.form_box{
    margin: 0 0 1em 0 ;
}
hr{
    margin: 0em 0 1em 0 !important;
}


