@charset "UTF-8";

td.card:last-child{border-bottom: 1px solid rgba(0,0,0,.125) !important;}

.titleBox{border-bottom: 3px solid #4C74B9;}
.titleBox h2{float: left;}
.titleBox div{text-align: right}
.titleBox div span label{margin: 0;font-size: 80%; padding-right: 0;}

article table tr td .col-3{display: inline-block; padding: 0;}

#title{padding: 0; font-size: 2em;}

#titleBox1 span{
	position: absolute;
    right: 0;
    bottom: 0;
    color: #4c74b9;
}

.qnaContent{font-size: 0.8em;}

.collapse .card.card-body{margin-bottom: 0 !important; border-color: #4c74b9; }
.card-header{
	border: 0 !important;
	background: none !important;
}
.card-header span{
	font-weight: bold;
	letter-spacing: -0.5px;
	padding: 0 !important;
	text-align: left;
}

#accordionExample{border: 0;}

/* 셀렉트 버튼  */
.filterContainer{width: 12%; float: right;}
.filterContainer .current {font-size: 70%;}
.filterContainer .option {font-size: 60% !important;}
.filterContainer .nice-select .list{background-color: white !important; border: 1px solid #4c74b9 !important; border-radius: 5px !important;}
