@charset "UTF-8";

/* 공간 등록 -------------------------------------------------------------------------------- */
#bookArea .list:hover :not(:last-child) {
	cursor: pointer;
}

/* 주의사항 리스트 */
#noticeList > span {
	display: block;
	border-bottom: 1px solid #c9c9c9;
}
/* 세부옵션 리스트 */
#optionField > ul > li {
	display: inline-block;
	width: 24%;
	box-sizing: border-box;
}
/* 파일 필드 숨기기 */
input[type="file"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip:rect(0,0,0,0);
	border: 0;
}
/* 원본 이미지 보기 */
#imageArea .image:hover {
	cursor: pointer;
}

/* 공간 리스트 -------------------------------------------------------------------------------- */
/* 미공개 처리 */
.bgImage {
	background-size:cover;
	margin-bottom: 10px !important;
	height: 250px;
}
.marginClear {
	margin-bottom: 10px !important;
}
.bgBlur {
	background: rgba(0,0,0,.6);
	display: table;
	width: 100%;
	border-radius: 1%;
	z-index:-100;
}
.bgBlur span {
	color: #fff;
	display: table;
	text-align: center;
}

.bgBlur em {
	color: #fff;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	height: 250px;
}

/* 체크박스 스위치 토글 처리 */
.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 27px;
  vertical-align:middle;
  margin-bottom: 0;
}
 
.switch input {display:none;}
 
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
 
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
 
#spaceArea input:checked + .slider {
  background-color: #4C74B9;
}

#spaceArea input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
 
.slider.round {
  border-radius: 20px;
}
 
.slider.round:before {
  border-radius: 50%;
}

/* 가격 등록 -------------------------------------------------------------------------------- */

#priceArea .timeTable {
	background-color: rgba(144, 144, 144, 0.075) !important;
}