@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:500,100,300,700,400);
/* *{
	border: 1px solid black !important;
} */

p{
	margin: 0 !important;
}

h1,h3,h4,h5,h6{
	margin: 0 !important;
	line-height: 2.5 !important;
	font-weight :500 !important;
	letter-spacing:-0.5px !important;
}
h2{
	margin: 0 !important;
	line-height: 3 !important;
	font-weight :700 !important;
	letter-spacing:0.2em !important;
}
h5{
	font-size: 1em !important;
}
ol{
	padding-left : 2.25em !important;
}


/* 이미지 슬라이드 높이 */
.height26{
	height: 30em;
}

.detailTitle{
	float: left;
}
.detailTitle>p{
	font-size: 65px;
	font-weight: 900;
}

/* 공간 소개 관련 */
.detailLeft{
	width: 65%;
	height:100%;
	float: left;
	margin-top: 2em;
}

.detailSimple{
	margin-bottom: 2em;
}

.fa-heart{
	font-size: 1.5em !important;
	float: right;
}

.fa-heart:hover {
   color: red;
   cursor: pointer;
} 
#dislike,#like{
	width:56px;
}
.detailSimple>p{
	font-size: 45px;
	font-weight: 200;
}

.spaceIntro{
	margin: 0 0 2em 0;
	letter-spacing:0.2em;
	overflow: hidden;
	width: 100%;
}
.spaceTime,.spaceClose,.spaceClose{
	float: left;
	padding-left: 0 !important;
}
.fontStyle>p{
	width: 40px;
	border-bottom: 3px solid #4C74B9;
}
.mapImg{
	width:100%;
	height: min-content;
	
}

.write{
	width: 70%;
	height:100%;
	float: left;
}
.writeBtn{
	width: 30%;
	height:100%;
	float: left;
}
.fa-edit{
	float: right;
	font-size: 100%;
	box-shadow:none;
	outline : none;
	
}
.fa-edit:hover,.fa-edit:focus{
	outline: none; 
	box-shadow: none; 
	border: none; 
	background: transparent;
}

/* --모달-- */

.btn-primary{
    background-color: #4C74B9 !important;
}
.btn-secondary{
    background-color: #474747 !important;
}
.modal-body>textarea{
    width: 100%;
    height: 100px;
    resize: none;
}
.textCount{
    text-align: right;
}


/* Q&A list */
.QnAList{
	float:left;
	width: 100%;
	padding-left: 2em;
	
}
.AName{
	color:#4C74B9; 
}
.QDelete>button,.QDelete>button:hover,.reviewBtn>button,.reviewBtn>button:hover{
	font-size: 13px;
	outline: none; 
	box-shadow: none; 
	border: none; 
}
.paging>p{
	font-size: 15px; 
	text-align: center;
}
.paging{
	float:left;
	width:100%;
	height:5%;
	border-top: 1px solid #ebebeb;
	
}
.QDelete{
	height: 20%;
	width: 100%;
	float: left;
}
.QDelete>button,.reviewBtn>button{
	float: right;
}


/* 이용후기  */
.wrapFile{
	width: 100%;
	height: 150px;
}
.reviewFile{
	margin:5% 1% 0 5%;
	font-size: 15px;
	height: 80%;
	display: none;
}

.starArea{
	width: 100%;
	height: 20%;
	
}
.starGrade{
	width: 30%;
	height: 100%;
	float: left;
}
.starChange{
	width: 70%;
	height: 100%;
	float: left;
}

#star_grade a{
    text-decoration: none;
    color: gray;
    font-size: 25px;
    border-style: none;
}
#star_grade a.on{
    color:#FE7;
    text-shadow: 0 0 15px #952;
}

/* 각도 틀어주는 이벤트 */
#star_grade>a>i:hover{
	transform: rotate(-15deg) scale(1.3);
	color: #FE7;
}

.reviewBtn{
	width: 100%;
	height: 20%;
	float: left;
}	

.review{
   float: left;
   width: 100%;
   padding-left: 2em;
}


/* 호스트의 다른 공간 */
.image{
   width: 100%;
   height: 30%;
}
.image>a{
   width: 100%;
   height: 100%;
}
.image>a>img{
      display: block;
      width: 100%;
      height:238px;
}
.hostSpace{
	width: 30% !important;
	padding-right: 3%;
}

.tiles>.row>article {
	/* border:1px solid black;   */
	height: 23em;
}

.location>span>img, .reviewHeart>span>img {
	width: 1em;
	height: 1em;
}

.price, .reviewHeart {
	width: 3em;
	display: inline;
}

.price {
	margin-right: 1em
}

.locationName>h3 {
	margin-top: 1em;
	margin-bottom: 1em !important;
}







/* 공간 예약관련  */
.detailRight{
	width: 35%;
	float: left;
	margin-top: 2em; 
}

.reservation{
	/* border-top: 3px solid #4C74B9; */
	text-align: right;
}
.leftfontStyle>p{
	float:right;
	width: 40px;
	border-bottom: 3px solid #4C74B9;
}

/* 시간 예약*/
.swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 16px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
 
label{
margin:0 !important;
}


#timeOption>label{
margin:1em 0 1em 0 ;
width:100%;
padding:0;
text-align:center;
} 

#timeOption>input.checkbox{
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
    z-index: -1;

}

input[type="checkbox"]:checked{
border:4px solid #4c74b9;
border-radius: 5px;
}
input[type="checkbox"] + label{
padding:0 !important;
border:
}

input[type="checkbox"]:checked+ label{
    color:#4c74b9; 

}
input[type="checkbox"] + label:before{
background: none !important;
border: none !important;
content: none !important; 
}

input.checkbox[type='checkbox'] + label {
  display: block;
}

input.checkbox[type='checkbox']:not(:checked) {
  display: none;
}

.timeHeader>h3{
width:50%;
float:left;
}
.timeHeader>i, .timeHeader>#text{
	size:3x !important;
}

/* 공간 세부 옵션   */
.fontStyle>ol{
	margin-top:3%
}
.optionOl{
padding:0 !important;
list-style: none !important;
}

/* ---------------------------------css 추가---------------------------------- */
.partyBoxWrap{
	width: 100%;
}
.personCkeck{
	width: 80%;
	float: left;
}
.personCkeck>input{
	text-align: center;
}
.personBtn{
	width: 10%;
	float: left;
}
.partyBtn{
	border-bottom-style: none;
}

/* 페이징 */
.QnA_QA{
border-bottom: 1px solid #ebebeb;
}
.QnAPaging{
   float: left;
   margin:1em 0 0 8em;
}
.pagination .pagination-active{
   color: #fff !important;
}

#imageArea{
   margin: 1em 0 0 2.5em;
}
.col-4{
   padding: 0 !important;

}
#subFile1,#subFile2,#subFile3{
   display: none;
}
#subImg1,#subImg2,#subImg3{
   width: 100px;
   height: 100px;
}
.reImgList>img{
   width: 100px;
   height: 100px;
   float: left;
   margin: 0.5em 0.5em 0 0;
}
.review>i{
   color: #4c74b9;
}

/* 달력 */
.calender>h3{
	float:left;
}
#calIcon{
	border:none;
	padding: 12px;
}

/* 시간 */
.timeHeader>h3{
	float:left;
/* 	width:30%;
	padding-right:3%; */
}
.time_select_wrap{padding:22px 0 15px;text-align:center;overflow-x: scroll;width: 100%;swipe:true; }
	.time_select_wrap .date{padding-bottom:14px;font-size:26px;color:#424242;font-weight:500;letter-spacing:-0.024em}
	.time_select_wrap .information{font-size:0;text-align:left;padding:9px 0 25px 36px;}
	.time_select_wrap .information li{display:inline-block;font-size:24px;margin-right:30px;color:#424242}
	.time_select_wrap .information li:before{content:'';display:inline-block;width:11px;height:11px;vertical-align:middle;border-radius:6px;margin-right:14px;}
	.time_select_wrap .information .b_able:before{background:#f8cebd}
	.time_select_wrap .information .b_complete:before{background:#ff8254}
	.time_select_wrap .information .b_standby:before{background:#dddde3}
	.time_select_wrap .information .b_closed:before{background:#9e9e9e}
	.time_select_wrap .time_slot{overflow-x:scroll;font-size:0;white-space:nowrap;padding:0 24px 15px}
	.time_select_wrap .time_slot li{display:inline-block;margin-left:16px;position:relative;}
	.time_select_wrap .time_slot li label{/* display:block;width:112px;height:71px;line-height:36px;background: #4c74b9;border-radius:35px;color:white;font-size:14px; */
	border: 1px solid #585858;
    display: block;
    width: 74px;
    height: 71px;
    line-height: 35px;
    background: white;
    border-radius: 0px;
    color: black;
    font-size: 14px;
    font-family: GoyangIlsan;}
	.time_select_wrap .time_slot li input[type=checkbox]{position:absolute;z-index:-1;width:1px;height:1px;}
	.time_select_wrap .time_slot li:first-child{margin-left:0}
	.time_select_wrap .time_slot input:disabled+label{background:#dbdce1;color:#9e9e9e;}
	.time_select_wrap .time_slot input:checked+label{background:#4c74b9;color:#fff;}
.timeP{
	font-size:16px;
	text-align:center;
	color:#585858;
}

/* 공간 사용료 */

.totalPrice{
	text-align: right;
	color:#4c74b9;
}

.selectPeople{
   width: 100%;
   padding-bottom: 52px;
   float: left;
}

#reserveBtn{
	margin-top:20px
}

.phoneIcon{
	padding:0px 9px 7px 0px;	
}
.finalTotal1{
	width:50%;
	float:left;
}
.finalTotal2{
	text-align: right;
	width:77%;
	float:left;
	color:#4c74b9;
	
}
.totalPrice,.addPrice{
	text-align: right;
    color: #4c74b9;
    width: 77%;
    float: left;
}

.totalPrice2,.totalPrice3{
	width: 23%;
    float: right;
    text-align: center;
    color: #4c74b9 !important;
}

.warning{
	color:#ff3a48;
	font-size:14px;
}
.alert{
	padding-left: 0 !important;
	color:#585858;
	font-size:14px;
}
#select{
	background-color: #4c74b9;
	color:#4c74b9;
}
.start,.end,.timePer{
	width:14% !important;
	float:left !important;
	text-align:center;
}
.bar,.bar4{
	width:3% !important; 
	float:left !important;
	text-align:center;
}

.start4,.end4{
	width:10% !important;
	float:left !important;
	text-align:center;
}
.end4{
	margin-right:42% !important;
}

.BookingDate{
	width: 31%;
    float: left;
    border:none!important;
}
.timeHeader,.calender{
	 border:none!important;
}
.BookingTime{
	width:60%;
	float:left;
}