.border{
    border:0.5px solid #c9c9c9;
    margin: 2em 0 0 0 ;
}

.photoframe{
     font-size: 20px; 
     margin: 1em 1em 1em 1em;
     padding:  0 0.8em 0 0;
}

.contents{
    display: inline-block;
}

.content{
    display: inline-block;
}
.content_box>ul>li, .border>ul>li{
    list-style: none;
}
.border>ul>li{  
    display: inline-block;
}
.img_box, .btn_box{
    width: 0%;
}
.contents{
    width: 40%;
}

.info>ul>li>pre{
    padding: 0em;
    margin: 0em;
}
.info>ul>li> p{
    display: inline-block;
} 
.line_height{
    margin: 3rem 0  0 0 !important;
}
.contents>h3{
    height:20%;
    padding: 0  0  0 30px;
    margin: 0em;
    
}
.content_box{
    display: block !important;
    height: 70%;
}
.review_btn{
    height: 100% !important;
    line-height: 19rem !important;
}
/* .img_box{
    display: inline-block;
    width: 30%;

}
.contents{
    display:inline-block;
    width: 31%;

}
    .content_box{
        float: left;
        width: 50%;
        box-sizing: border-box;
    }
.btn_box{
    display: inline-block;
    width: 33%;

} */